﻿
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <h2>{{pageTitle}}</h2>
    </div>
</div>

<div class="row gap">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="fileUploadId" class="col-md-2 control-label">File Upload Id</label>
                        <div class="col-md-10">
                            <input type="text" disabled class="form-control" id="fileUploadId" ng-model="fileUploadId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fileName" class="col-md-2 control-label">File Name</label>
                        <div class="col-md-10">
                            <input type="text" disabled class="form-control" id="fileName" ng-model="fileName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="uploadedRow" class="col-md-2 control-label">Uploaded Row(s)</label>
                        <div class="col-md-10">
                            <input type="text" disabled class="form-control" id="uploadedRow" ng-model="uploadedRow">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="uploadDate" class="col-md-2 control-label">Upload Date</label>
                        <div class="col-md-10">
                            <input type="text" disabled class="form-control" id="uploadDate" ng-model="uploadDate">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-bordered table-hover category-table">
            <tr>
                <th class="col-md-6">Invalid Row(s)</th>
                <th class="col-md-6">Error Message</th>
            </tr>
            <tbody ng-repeat="item in invalidTransactions">
                <tr>
                    <td>{{item.detail}}</td>
                    <td>{{item.message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>