﻿@{
    Layout = null;
}

<div class="row gap">
    <div class="col-md-12">
        <h2>{{pageTitle}}</h2>
    </div>
</div>

<div class="row" ng-if="messages.length > 0">
    <div class="col-md-12">
        <div class="alert {{item.type}}" ng-repeat="item in messages" role="alert">{{item.message}}</div>
    </div>
</div>

<div class="row gap">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group col-md-6">
                        <input class="form-control" type="file" accept=".csv" file-input="files" />
                    </div>   
                        <button type="submit" class="btn btn-primary" ng-click="upload()">Upload</button>                     
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row gap">
    <div class="col-md-12">
        <table class="table table-responsive table-bordered table-hover category-table">
            <tr>
                <th class="col-md-1">File Upload Id</th>
                <th class="col-md-4">File Name</th>
                <th class="col-md-2">Upload Date</th>
                <th class="col-md-2"></th>
            </tr>
            <tbody ng-repeat="item in fileUploads | orderBy:'-fileUploadId'">
                <tr>
                    <td>{{ item.fileUploadId }}</td>
                    <td> {{ item.fileName }}</td>
                    <td>{{ item.uploadDate | date:"MM/dd/yyyy 'at' h:mma" }}</td>
                    <td>
                        <a href="/fileupload/detail/{{ item.fileUploadId }}">Detail</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div ng-if="isLoading" class="data-loading">
    <img src="~/Content/loading.gif">
</div>