﻿
@{
    Layout = null;
}

<div class="row gap">
    <div class="col-md-12">
        <h2>{{pageTitle}}</h2>
    </div>
</div>

<div class="row" ng-if="messages.length > 0">
    <div class="col-md-12">
        <div class="alert {{item.type}}" ng-repeat="item in messages" role="alert">{{item.message}}</div>
    </div>
</div>

<div ng-if="transactions && transactions.length > 0">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <uib-pagination items-per-page="pagerSettings.pageSize" max-size="pagerSettings.maxSize"
                            total-items="pagerSettings.totalRows" num-pages="pagerSettings.numberOfPages"
                            ng-model="pagerSettings.currentPage"></uib-pagination>
        </div>
        <div class="col-xs-12 col-md-3 form-inline page-indicator">
            <div class="form-group">
                <label>Page:</label>
                <input class="form-control" type="text" ng-model="pagerSettings.currentPageInputText" />
                <label> out of {{pagerSettings.numberOfPages}}</label>
            </div>
        </div>
    </div>

    <div class="row gap">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered table-hover">
                <tr>
                    <th class="col-md-1">TransactionId</th>
                    <th class="col-md-4">Account</th>
                    <th class="col-md-2">Description</th>
                    <th class="col-md-2">Currency Code</th>
                    <th class="col-md-2">Amount</th>
                    <th></th>
                </tr>
                <tbody ng-repeat="item in transactions | orderBy:'transactionId'">
                    <tr>
                        <td>{{ item.transactionId }}</td>
                        <td>{{ item.account }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.currencyCode }}</td>
                        <td>{{ item.amount}}</td>
                        <td>
                            <a ng-click="ConfirmDelete(item)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-9">
            <uib-pagination items-per-page="pagerSettings.pageSize" max-size="pagerSettings.maxSize"
                            total-items="pagerSettings.totalRows" num-pages="pagerSettings.numberOfPages"
                            ng-model="pagerSettings.currentPage"></uib-pagination>
        </div>
        <div class="col-xs-12 col-md-3 form-inline page-indicator">
            <div class="form-group">
                <label>Page:</label>
                <input class="form-control" type="text" ng-model="pagerSettings.currentPageInputText" />
                <label> out of {{pagerSettings.numberOfPages}}</label>
            </div>
        </div>
    </div>
</div>

<div ng-if="isLoading" class="data-loading">
    <img src="~/Content/loading.gif">
</div>

<script type="text/ng-template" id="confirmDeleteModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete confirmation</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you wish to delete this transaction?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
            <button type="button" class="btn btn-primary" ng-click="ok()">Yes</button>
        </div>
    </div>     
</script>


